<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <div class="alert alert-danger" *ngIf="invalidInput">
      Invalid values for maze width and height!
    </div>
    <div class="form-group">
      <label for="width">Maze Width:</label>
      <input class="form-control" type="number" name="width" id="width" #width>
    </div>
    <div class="form-group">
      <label for="height">Maze Height:</label>
      <input class="form-control" type="number" name="width" id="height" #height>
    </div>
    <button (click)="onGenerateMaze()" class="btn btn-primary">Generate Maze!</button>
  </div>
</div>
